{% extends 'hoitymoppet/master.html' %}
{% load static %}
{% block body %}

<!--about-area start-->
	<div class="faq-area mt-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="accordion">

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingOne">
								<h5 class="mb-0">
									<a href="#collapseOne" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										Where can I find the Wall Street Journal ?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
								</div>
							</div>
						</div>

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingTwo">
								<h5 class="mb-0">
									<a href="#collapseTwo" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
										Is there anything I should bring?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingThree">
								<h5 class="mb-0">
									<a href="#collapseThree" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Where can I find market research reports?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body">
									<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
								</div>
							</div>
						</div>

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingFour">
								<h5 class="mb-0">
									<a href="#collapseFour" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
										Where can I find the Wall Street Journal ?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								<div class="card-body">
									<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
								</div>
							</div>
						</div>

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingFive">
								<h5 class="mb-0">
									<a href="#collapseFive" class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Where can I find market research reports?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
								<div class="card-body">
									<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
								</div>
							</div>
						</div>

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingSix">
								<h5 class="mb-0">
									<a href="#collapseSix" class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
										Where can I find the Wall Street Journal ?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
								<div class="card-body">
									<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
								</div>
							</div>
						</div>

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingSeven">
								<h5 class="mb-0">
									<a href="#collapseSeven" class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
										Where can I find market research reports?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
								<div class="card-body">
									<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
								</div>
							</div>
						</div>

						<div class="card single-faq">
							<div class="card-header faq-heading" id="headingEight">
								<h5 class="mb-0">
									<a href="#collapseEight" class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
										Where can I find the Wall Street Journal ?
										<i class="fa fa-plus-circle pull-right"></i>
										<i class="fa fa-minus-circle pull-right"></i>
									</a>
								</h5>
							</div>
							<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
								<div class="card-body">
									<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--faq-area end-->

{% endblock %}