{% extends '../hoitymoppet/master.html' %}
{% block title %} Welcome to Hoitymoppet India {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<main class="main">
    <div class="page-header text-center" style="background-image: url({% static 'images/backgrounds/bg-1.jpg' %})">
        <div class="container">
            <h1 class="page-title">About Us</h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </div>
    </nav>
    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        {% include './accounts-navigation.html' %}
                    </aside>
                    <div class="col-md-8 col-lg-9">
                        <h4>Profile Details <a href="#" id="edit_form" class="anchor edit_form">Edit</a> <a href="#" id="cancel_form" class="anchor cancel_form">Cancel</a></h4>
                        <form method='POST' action="#">
                            {% csrf_token %}
                            <label>First Name *</label>
                            <input type="text" class="form-control user_fname" name='first_name' placeholder="Enter First Name" value="{{ request.user.first_name }}" />
                            <label>Last Name *</label>
                            <input type="text" class="form-control user_lname" name='last_name' placeholder="Enter Last Name" value="{{ request.user.last_name }}"  />
                            <label>Gender *</label>
                            <select id="gender" class="form-control gender" name="user_sex" value="{{request.user.profile.user_sex}}">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <label>Email Id *</label>
                            <input type="text" class="form-control user_emailid" name='email' placeholder="Enter Email Id" value="{{ request.user.email }}" />
                            <label>Mobile No. *</label>
                            <input type="text" class="form-control user_mobileno" name='user_contact_number' placeholder="Enter Mobile No." value="{{request.user.profile.user_contact_number}}" />
                            <button class="btn btn-outline-primary-2 btn-commonaccounts btn_form" id="form-submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <h2 class="title text-center mb-3">Faq`s</h2>
            <div class="accordion accordion-rounded" id="accordion-1">
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-1">
                        <h2 class="card-title">
                            <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                How will my parcel be delivered?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                        </div>
                    </div>
                </div>
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-2">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                Do I pay for delivery?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
                        <div class="card-body">
                            Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                        </div>
                    </div>
                </div>
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-3">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                Will I be charged customs fees?
                            </a>
                        </h2>
                    </div>
                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
                        <div class="card-body">
                            Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                        </div>
                    </div>
                </div>
                <div class="card card-box card-sm bg-light">
                    <div class="card-header" id="heading-4">
                        <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                My item has become faulty
                            </a>
                        </h2>
                    </div>
                    <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
                        <div class="card-body">
                            Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}